* {
  box-sizing: border-box;
  margin: 0;
}
body {
  min-height: 100vh;
  background-color: gray;
}
.main {
  min-height: 100vh;
  min-width: 100vw;
  background-color: green;
  position: relative;
}
.circle {
  position: absolute;
  height: 500px;
  width: 500px;
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  right: 30%;
  border-radius: 50%;
}
.abc{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(21, 15, 15);
  bottom: 0px;
  right: 30%;
  border-radius:50%;
}


.signup-btn{
  position: absolute;
  right: 50px;
  top: 50%;
  padding: 10px 20px;
}
.z-index-box{
background-color: white;
height: 500px;
width: 500px;
position: relative;
}
.one, .two, .three{
  height: 100px;
  width: 100px;
  position: absolute;
}
.z-index-box .one{
  background-color: red;
  left: 0px;
  top: 0px;
  z-index: 3;
}
.z-index-box .two{
  background-color: rgb(64, 0, 255);
  left: 20px;
  top: 20px;
  z-index: 4;
}
.z-index-box .three{
  background-color: rgb(68, 255, 0);
  left: 40px;
  top: 40px;
  z-index: 2;
}
